---
import Layout from "../layout/Layout.astro";
---

<Layout SiteTitle="VATSIM Scandinavia">
    <main class="w-full items-center mt-20 min-h-max">
        <div class="error-container">
            <h1 class="text-4xl md:text-6xl font-bold">Page not found</h1>
            <p class="mt-4">The page you're looking does not exist.</p>
        </div>
    </main>
</Layout>
