---
import BookingsWithFilter from './BookingsWithFilter.tsx'
import BookingFilters from './BookingFilters.tsx'
---
<div class="h-[738px] overflow-y-scroll p-0">
    <BookingsWithFilter client:only="react" />
</div>
