---
import BookingsComponent from './BookingComponentv3.jsx'
import LiveAndBookingSession from './LiveAndBookingSession'
---
<div class="h-[513px] overflow-y-scroll">
    <LiveAndBookingSession client:visible/>
</div>
