---
const { title, padding, minHeight, link, clock } = Astro.props;
---

<div class={`flex flex-col col-span-6 xl:col-span-4`} >
    <h2 class="bg-secondary h-12 text-lg font-bold text-white w-full m-0 px-4 flex items-center rounded-t-sm ">
        {link ? (
            <a href={link} class="text-white no-underline hover:underline w-full flex justify-between items-center" target="_blank">
                {title} {clock ? <span class="text-sm" id="zuluTime"></span> : ""}
            </a>
        ) : (
            title
        )}
    </h2>
    <div class={`text-sm bg-white dark:bg-tertiary p-${padding} rounded-b-sm`} style={`min-height: ${minHeight}px`}>
        <slot />
    </div>
    {clock && (
        <script is:inline>
            function updateZuluTime() {
                const now = new Date();
                const options = { timeZone: 'UTC', hour: '2-digit', minute: '2-digit' };
                const zuluTime = now.toLocaleTimeString('en-UK', options);
                document.getElementById('zuluTime').textContent = zuluTime+"z";
            }

            // Initial call to display the time immediately
            updateZuluTime();

            // Update the time every minute
            setInterval(updateZuluTime, 60000);
        </script>
    )}
</div>