---
const { title, padding, minHeight, link, clock } = Astro.props;
---

<div class={`flex flex-col col-span-6 xl:col-span-4`} >
    <h2 class="bg-secondary h-12 text-lg font-bold text-white w-full m-0 pl-4 flex items-center rounded-t-sm">
        {link ? (
            <a href={link} class="text-white no-underline hover:underline" target="_blank">
                {title} {clock ? <div class="text-sm" id="zuluTime"></div> : ""}
            </a>
        ) : (
            title
        )}
    </h2>
    <div class={`text-sm bg-white dark:bg-tertiary p-${padding} rounded-b-sm`} style={`min-height: ${minHeight}px`}>
        <slot />
    </div>
</div>

<script is:inline>
    function updateZuluTime() {
        const now = new Date();
        const zuluTime = now.toTimeString().slice(0, 5) + 'z';
        document.getElementById('zuluTime').textContent = zuluTime;
    }

    // Initial call to display the time immediately
    updateZuluTime();

    // Update the time every minute
    setInterval(updateZuluTime, 60000);
</script>